version: 2.1
jobs:
  build-test-project:
    machine:
      image: ubuntu-2004:202010-01 
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: maven Build
          command: mvn clean install -P prod -Dmaven.test.skip=true 
      - run:
            name: run all test
            command: mvn test
      - run:
            name: docker-build
            command: | 
             docker build -t $docker_username/CreditApplicationSystem .
      - run:
          name: Archive Docker image
          command: docker save -o image.tar $docker_username/creditApplicationSystem
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar

  push-dockerhub-project:
    machine:
      image: ubuntu-2004:202010-01 
      docker_layer_caching: true
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$docker_password" | docker login -u "$docker_username" --password-stdin
            docker push $docker_username/creditApplicationSystem             

  test-project:
    machine:
      image: ubuntu-2004:202010-01 
      docker_layer_caching: true
    steps:
      - checkout
      - run:
            name: run all test
            command: mvn test -P dev        

workflows:
  build-test-deploydockerhub:
    jobs:
    - build-test-project:
        context: deneme
        filters:
         branches:
           only:
            - master          
    - push-dockerhub-project:
        context: deneme
        requires:
          - build-test-project
        filters:
         branches:
           only:
            - master

  checkout-test:
    jobs:
    - test-project:
        filters:
         branches:
           ignore:
            - master          

        