version: 2.1
orbs:
  aws-ecs: circleci/aws-ecs@3.2.0
  aws-cli: circleci/aws-cli@3.1.1
jobs:
  build-test-project:
    machine:
      image: ubuntu-2004:202010-01 
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: maven Build
          command: mvn clean install -P prod -Dmaven.test.skip=true 
      - run:
            name: run all test
            command: mvn test 
      - run:
            name: docker-build
            command: | 
             docker build -t $docker_username/creditapplicationsystem .
      - run:
          name: Archive Docker image
          command: docker save -o image.tar $docker_username/creditapplicationsystem
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar

  push-dockerhub-project:
    machine:
      image: ubuntu-2004:202010-01 
      docker_layer_caching: true
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$docker_password" | docker login -u "$docker_username" --password-stdin
            docker push $docker_username/creditapplicationsystem             
 
  verify-deployment:
    executor: aws-cli/default
    steps:
      - aws-cli/install
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID 
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
      - run:
          name: Get last task definition
          command: >
            TASK_DEFINITION_ARN=$(aws ecs describe-task-definition \
                --task-definition project-service \
                --output text \
                --query 'taskDefinition.taskDefinitionArn')
            echo "export TASK_DEFINITION_ARN='${TASK_DEFINITION_ARN}'" >>
            "$BASH_ENV"
      - aws-ecs/verify-revision-is-deployed:
          family: 'project-service'
          cluster: 'project-cluster'
          task-definition-arn: '${TASK_DEFINITION_ARN}'

  test-project:
    machine:
      image: ubuntu-2004:202010-01 
      docker_layer_caching: true
    steps:
      - checkout
      - run:
            name: run all test
            command: mvn test -P dev        

workflows:
  build-test-deploydockerhub:
    jobs:
    - build-test-project:
        context: deneme
        filters:
         branches:
           only:
            - master          
    - push-dockerhub-project:
        context: deneme
        requires:
          - build-test-project
        filters:
         branches:
           only:
            - master
    - aws-ecs/deploy-service-update: 
          context: deneme
          requires:
            - push-dockerhub-project
          family: 'project-service'
          cluster: 'project-cluster'
          container-image-name-updates: 'docker.io/$docker_username/creditapplicationsystem'
    - verify-deployment:
          context: deneme
          requires:
            - aws-ecs/deploy-service-update
          filters:
           branches:
            only:
            - master   
  
  checkout-test:
    jobs:
    - test-project:
        filters:
         branches:
           ignore:
            - master          

        