version: 2.1
jobs:
  build-test-project:
    machine:
      image: ubuntu-2004:202010-01 
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: maven Build
          command: mvn clean install -P prod -Dmaven.test.skip=true 
      - run:
            name: run all test
            command: mvn test 
      - run:
            name: docker-build
            command: | 
             docker build -t $docker_username/creditapplicationsystem .
      - run:
          name: Archive Docker image
          command: docker save -o image.tar $docker_username/creditapplicationsystem
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar

  push-dockerhub-project:
    machine:
      image: ubuntu-2004:202010-01 
      docker_layer_caching: true
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$docker_password" | docker login -u "$docker_username" --password-stdin
            docker push $docker_username/creditapplicationsystem             
  deploy:
    docker:
      - image: circleci/aws-cli@3.1.4
    steps:
      - run:
          name: Deploy to AWS ECS
          command: |
            aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
            aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
            aws configure set default.region $AWS_REGION
            envsubst < ecs_task_definition.json > task-def.json
            aws ecs register-task-definition --cli-input-json file://task-def.json
            aws ecs update-service --cluster $ECS_CLUSTER_NAME --service $ECS_SERVICE_NAME --force-new-deployment
          environment:
            AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
            AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
            AWS_REGION: $AWS_REGION
            ECS_CLUSTER_NAME: $ECS_CLUSTER_NAME
            ECS_SERVICE_NAME: $ECS_SERVICE_NAME
            DOCKER_IMAGE: $docker_username/creditapplicationsystem  
  test-project:
    machine:
      image: ubuntu-2004:202010-01 
      docker_layer_caching: true
    steps:
      - checkout
      - run:
            name: run all test
            command: mvn test -P dev        

workflows:
  build-test-deploydockerhub:
    jobs:
    - build-test-project:
        context: deneme
        filters:
         branches:
           only:
            - master          
    - push-dockerhub-project:
        context: deneme
        requires:
          - build-test-project
        filters:
         branches:
           only:
            - master 
    - deploy:
        context: deneme
        requires:
          - push-dockerhub-project
        filters:
         branches:
           only:
            - master 
             
  checkout-test:
    jobs:
    - test-project:
        filters:
         branches:
           ignore:
            - master          

        